@import '../../default.scss';

.navContainer {
  width: 1440px;
  height: 100%;
  padding: 0 127px 0 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  @media (max-width: 991.98px) {
    padding: 10px 16px;
    width: 100%;
  }
}

.logo {
  img {
    width: 130px;
    height: 34px;

    @media (max-width: 991.98px) {
      width: 114px;
      height: 30px;
    }
  }
}

.logout {
  width: 93px;
  height: 18px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;

  @media (max-width: 991.98px) {
    width: 70px;
  }

  .menu {
    width: 30px;
    height: 30px;
    background-color: var(--bg-menu);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    @media (min-width: 992px) {
      display: none;
    }
  }

  img {
    width: 24.6px;
    height: 18px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .text {
    @media (max-width: 991.98px) {
      display: none;
    }
  }
}
